label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

body {
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
}
