<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
</head>
<body>
    <h1>Thank You for Submitting the Form</h1>
    <p>Your submission has been received.</p>

    <!-- Display all form fields and their values on the thank you page -->
    <h2>Form Answers:</h2>
    <ul>
        <li><strong>Email:</strong> <%= params['E-post'] %></li>
        <li><strong>Kontaktperson:</strong> <%= params['Kontaktperson'] %></li>
        <li><strong>Prosjekttittel:</strong> <%= params['Prosjekttittel'] %></li>
        <li><strong>Kort beskrivelse:</strong> <%= params['Kort beskrivelse'] %></li>
        <li><strong>Planlagt sluttdato:</strong> <%= params['Planlagt sluttdato'] %></li>
        <li><strong>Deltakere:</strong> <%= params['Deltakere'] %></li>
        <li><strong>Målgruppe:</strong> <%= params['Målgruppe'] %></li>
        <li><strong>Enhet:</strong> <%= params['Enhet'] %></li>
        <li><strong>Metode og rekruttering:</strong> <%= params['Metode og rekruttering'] %></li>
        <li><strong>Lagring:</strong> <%= params['Lagring'] %></li>
        <li><strong>Tilgang:</strong> <%= params['Tilgang'] %></li>
        <li><strong>Planlagt sletting:</strong> <%= params['Planlagt sletting'] %></li>
    </ul>
</body>
</html>
